.Link {
    text-decoration: none;
    transition-duration: 250ms;
    color: black;
}

.Link:hover {
    text-decoration: none;
    color: white;
}

.LinkActive {
    color: white;
}

.Container {
    display: flex;
}

.HeaderTitle {
    margin-right: 20px;
    /* color: rgb(0, 0, 0); */
}
