.Container {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.ContainerText{
    display: flex;
    align-items: baseline;
}

.UserName {
    margin-left: 15px;
    margin-right: 15px;
}

.LogOutBtn {
    border: 1px solid;
    display: flex ;
    border-radius: 5px;
    padding: 5px;
    transition-duration: 250ms;
    background-color: rgba(84, 228, 103, 0.5);
    box-shadow: 1px 1px 3px 1px black, 1px 1px 3px 1px black,
    1px 1px 3px 1px black;
}

.LogOutBtn:hover {
    color: #ffffff;
    border: none;
}

.LogOutTxt{
    margin: 0;
}

.Avatar {
    border-radius: 50%;
}

.Avatar:hover {
    fill: #2196f3;
}


